/* App.css */
body {
  background-color: #f8f6ee;
  margin: 0;
  padding: 0;
}

.HomePage{
  display: flex;
  height: 100vh;
}

.left-side {
  flex: 2; /* 2/3 of the width */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: left;

}

.right-side {
  flex: 1; /* 1/3 of the width */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensures the image covers the space without distortion */
}


.navbar {
  background-color: #ffffff;
  color: rgb(28, 20, 95);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 > b{
  color: #0097b2;
  font-family: 'Lilita One';
}

.navbar-links a {
  color: rgb(0, 0, 0);;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: bold;
}

.navbar-logo img{
  height: 50px;
}

.navbar-links a:hover {
  color: #0097b2;
}

.header {
  text-align: center;
  color: #000000;
  margin-top: 2rem;
}

h2, h3{
  margin-left: 1rem;
}

.header h1 {
  font-size: 3rem;
  font-weight: 200;
  display: inline-block;
}

.description {
  font-size: 1.2rem;
  color: #0097b2;
  margin-top: 0.5rem;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.search-input {
  padding: 0.5rem 1rem;
  border: 2px solid #0097b2;
  border-radius: 18px;
  font-size: 1rem;
  width: 40%;
  outline: none;
}

.search-button {
  padding: 0.5rem 1.5rem;
  background-color: #0097b2;
  color: white;
  border: none;
  margin-left: 1rem;
  border-radius: 18px;
  cursor: pointer;
  font-weight: bold;
}

.time-to-make{
  padding: 0.5rem 1.5rem;
  background-color: #7d7d7d4c;
  color: rgb(77, 77, 77);
  margin-left: 1rem;
  border-radius: 10px;
  display: inline-block;
}

.get-recipe-button{
  padding: 0.5rem 1.5rem;
  background-color: #0097b2;
  color: white;
  margin-left: 1rem;
  border-radius: 10px;
  font-weight: bold;
  display: block;
  border: none;
  margin-top: 10px;
}

a{
  text-decoration:"none";
  color: inherit;
}

.search-button:hover {
  background-color: #056e81;
  transition: ease-in-out 0.2s;
}

.recipes-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates 3 equal-width columns */
  gap: 0px; /* Space between cards */
  padding: 20px;  
  align-items: center;
  margin-top: 2rem;
 
}

.recipe-card {
  background-color: #ffffff;
  padding: 1rem;
  margin: 1rem;
  border-radius: 20px;
  width: 90%;
}

.footer {
  display: flex;
  justify-content: space-between;  /* Place content on both sides */
  background-color: #0097b2;  /* Dark blue background */
  color: #F3F3E0;  /* Light text color */
  padding: 20px;  /* Add space inside the footer */
  position: relative;
  bottom: 0;
  max-width: 100%;
}

.footer-left {
  display: flex;
  flex-direction: column;  /* Stack the text vertically */
  align-items: flex-start;
  padding-left: 3rem; /* Align the text to the left */
}

.footer-left h2 {
  margin: 0;
  font-size: 20px;
  font-family: 'Lilita One'; 
}

.footer-left p {
  margin: 5px 0;
  font-size: 14px;  /* Smaller text for copyright and company name */
}

.footer-right {
  display: flex;
  flex-direction: column;  /* Stack the navigation links vertically */
  align-items: flex-end; 
  padding-right: 3rem; /* Align links to the right */
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;   /* Align the nav links to the right */
}

.footer-nav a {
  color: #F3F3E0;         /* Light text color for links */
  text-decoration: none;  /* Remove underline from links */
  font-size: 16px;        /* Make the font a bit larger */
  margin: 5px 0;          /* Add some vertical space between links */
  transition: color 0.3s ease;  /* Smooth color transition on hover */
}

.footer-nav a:hover {
  color: #CBDCEB;  /* Light blue color when hovered */
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Adjust height as needed */
  width: 100%;
}

/* For the entire page */
body::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-track {
  background: #ffffff; /* Track color */
  border-radius: 10px; /* Rounded edges for the track */
}

body::-webkit-scrollbar-thumb {
  background: #bddde2; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded edges for the thumb */
}

body::-webkit-scrollbar-thumb:hover {
  background: #046071; /* Scrollbar thumb color on hover */
}
