/* App.css */
body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #ffffff;
  color: rgb(28, 20, 95);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 > b{
  color: #0097b2;
  font-family: 'Lilita One';
}

.navbar-links a {
  color: rgb(0, 0, 0);;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: bold;
}

.navbar-logo img{
  height: 50px;
}

.navbar-links a:hover {
  color: #0097b2;
}

.header {
  text-align: center;
  color: #000000;
  margin-top: 2rem;
}

.header h1 {
  font-size: 3rem;
  font-weight: 200;
  display: inline-block;
}

.description {
  font-size: 1.2rem;
  color: #0097b2;
  margin-top: 0.5rem;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.search-input {
  padding: 0.5rem 1rem;
  border: 2px solid #0097b2;
  border-radius: 18px;
  font-size: 1rem;
  width: 40%;
  outline: none;
}

.search-button {
  padding: 0.5rem 1.5rem;
  background-color: #0097b2;
  color: white;
  border: none;
  margin-left: 1rem;
  border-radius: 18px;
  cursor: pointer;
  font-weight: bold;
}

.search-button:hover {
  background-color: #056e81;
  transition: ease-in-out 0.2s;
}

.recipes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.recipe-card {
  background-color: #F3F3E0;
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
  width: 60%;
}
